@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
body{
  font-family: 'PT Serif', serif;
  
}
.wrapper{
  width: 1120px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.title{
  font-size: xx-large;
  font-weight: 700;
  margin: 15px 0 15px;
}
.price-list>li{
  margin: 20px 0 0 0;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 0.1px rgb(122, 122, 122);
}
.price-list__title{
  display: block;
  width: 601px;
  height: 80px;
  font-size: x-large;
  margin: 0 auto;
  position: relative;
  
}
.price-list__title::after{
  content: '';
  width: 340px;
  height: 100px;
  position: absolute;
  background-image: url(./img/pepper.png);
  background-position: 183px 26px;
  background-repeat: no-repeat;
  bottom: 19px;
  left: 1px;
  transform: rotate(13deg);
}